In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/english-newari.csv")

In [3]:
df.head()

   SN                     en                     new
0 NaN       welcome to Ideax          Ideax ए लसकुस​
1 NaN         this is a test              थो test ख​
2 NaN  we are tongue techies  जिपि tongue techies ख​
3 NaN    this is just a demo           थो demo जक ख​
4 NaN     I am from Urlabari    जि उर्लाबारी च्वंम्ह

In [4]:
data = df[['en', 'new']]

In [5]:
data.head()

                      en                     new
0       welcome to Ideax          Ideax ए लसकुस​
1         this is a test              थो test ख​
2  we are tongue techies  जिपि tongue techies ख​
3    this is just a demo           थो demo जक ख​
4     I am from Urlabari    जि उर्लाबारी च्वंम्ह

In [6]:
data.astype(str)

                              en                          new
0               welcome to Ideax               Ideax ए लसकुस​
1                 this is a test                   थो test ख​
2          we are tongue techies       जिपि tongue techies ख​
3            this is just a demo                थो demo जक ख​
4             I am from Urlabari         जि उर्लाबारी च्वंम्ह
...                          ...                          ...
1006  lets go to see Indra Jatra  नु ईन्द्रजात्रा स्वो वोने ।
1007                       Lakhe              लशिँ – पुलुकिशि
1008        You are like a lakhe             छ लाखे थें चोँ ।
1009       Is your beloved well?       छिमी यज्जु म्ह फु ला ?
1010                   I am fine                  जी म्ह फु ।

[1011 rows x 2 columns]

In [7]:
import re
import string

def preprocessing(df):
    def process_text(text):
        text = text.lower()
        text = text.translate(str.maketrans('', '', string.punctuation))
        text = text.strip()
        text = re.sub("\s+", " ", text)
        return text

    df["en"] = df["en"].apply(process_text)
    
    def clean_text(text):
        text = re.sub(r'[०-९]', '', text)
        text = re.sub(r'[()#/@;:<>‘+=।?!|,’‘’]', '', text)
        text = text.strip()
        return text

    df["new"] = df["new"].apply(clean_text)    
    return df
data = preprocessing(data)
data.head(10)

/tmp/ipykernel_13206/471658536.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["en"] = df["en"].apply(process_text)
/tmp/ipykernel_13206/471658536.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["new"] = df["new"].apply(clean_text)

                        en                       new
0         welcome to ideax            Ideax ए लसकुस​
1           this is a test                थो test ख​
2    we are tongue techies    जिपि tongue techies ख​
3      this is just a demo             थो demo जक ख​
4       i am from urlabari      जि उर्लाबारी च्वंम्ह
5          i am from damak            जि दमक च्वंम्ह
6       i am from birtamod      जि बिर्तामोड च्वंम्ह
7       my name is nishant       जिगू नां निशान्त खः
8       my name is drishya         जिगू नां दृश्य खः
9  hello my name is sushan  ज्वजलपा जिगू नां सुशन खः